$slate: #87afb5;
$med_grey: #828282;
$dark_grey: #333333;
$trans_off_white: rgba(242,242,235,0.7);

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

      /* ********** Gallery ********** */
      .rc-album li{
          width: 50%;
      }

      .rc-overlay .rc-overlay-box {
          min-width: 280px;
          max-width: 540px;
          height: auto;
          margin: 0 auto;
          background-color: rgba(51,51,51,0.7);
          position: absolute;
          left: 0;
      }

      .rc-overlay .rc-overlay-top a.rc-close span {
          z-index: 1001;
          position: absolute;
          top: 20px;
          float: right;
          font-size: 2em;
          line-height: 20px;
          text-align: center;
          color: $trans_off_white;
          border: 0;
          &:link, &:hover, &:visited, &:active span {
              text-decoration: none;
              color: $trans_off_white;
          }
      }

      .rc-overlay .rc-overlay-box .rc-details{
        margin: 15px auto 30px auto;
      }
      .rc-overlay .rc-overlay-box .rc-details h3.title{
          text-align: center;
      	  height: 35px;
          font-size: 2.2em;

      }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
    .text-center-xs {
        text-align: center;
    }

    header.header {
        .heading {
            display: block;
        }
        .row .bottom-align {
            display: block;
            vertical-align: none;
            float: none;
        }
    }

    .rc-overlay .rc-overlay-box {
        position: relative;

    }

    .rc-overlay .rc-overlay-top a.rc-close span {
        z-index: 1001;
        position: relative;
        top: -30px;
        right: 0;
        float: right;
        font-size: 2em;
        line-height: 20px;
        text-align: center;
        color: $trans_off_white;
        border: 0;
        &:link, &:hover, &:visited, &:active span {
            text-decoration: none;
            color: $trans_off_white;
        }
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

      /* ********** Gallery ********** */
      .rc-album li{
        width: 33%;
      }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
      .text-left-md {
          text-align: left;
      }
      /* ********** Gallery ********** */
      .rc-album li{
          width: 25%;
      }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    .rc-album {
        max-width: 1000px;
    }
  }
