$slate: #87afb5;
$med_grey: #828282;
$dark_grey: #333333;
$trans_off_white: rgba(242,242,235,0.7);

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

      /* ********** Gallery ********** */
      .rc-album li{
          width: 50%;
      }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
    .text-center-xs {
        text-align: center;
    }

    header.header {
        .heading {
            display: block;
        }
        .row .bottom-align {
            display: block;
            vertical-align: none;
            float: none;
        }
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

      /* ********** Gallery ********** */
      .rc-album li{
        width: 33%;
      }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
      .text-left-md {
          text-align: left;
      }
      /* ********** Gallery ********** */
      .rc-album li{
          width: 25%;
      }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    .rc-album {
        max-width: 1000px;
    }
  }
